/* @import url('https://fonts.googleapis.com/css?family=Orbitron:700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Orbitron:500&display=swap');

:root {
  --site-font: 'Amatic SC', cursive;
}

.App {
  text-align: center;
  font-size: 20px;
  font-family: Orbitron;
  color: orange;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  background-color: red;
  line-height: 3em;
  color: white;
  animation: fadein 1.5s;
  margin-top: 5%;
}

.feedback-message {
  background-color: green;
  line-height: 2em;
  color: white;
  animation: fadein 1.5s;
  margin-top: 5%;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}



.user-info-form {
  margin: 20px auto;
  width: 50%;
}


.crypto {
  /* border-radius: 50%; */
  /* flex: 0 0 250px;
  position: relative;
  margin: auto; */
  border-style: solid;
  border-color: orange;
  border-width: thin;
}

.cryptoImage {
  border-radius: 50%;
  width: 70%;
  height: auto;
  transition: 1s;
}

.main {
  position: fixed;
  width:100%;
  height: 120%;
  min-height:calc(100vh - 61px);
  padding-top: 25px;

  color: white;
  background-size: cover;
  background-attachment:fixed;
}

.main::before{
  /* background: url("picture/bar2.jpg") no-repeat center center fixed; */
  /* background-color: black; */
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 15px);
  z-index: -2;
  opacity: 0.85;
}

.loading-dimmer {
  height: 200px;
  border: none !important;
  border-radius: 0 !important;
  opacity: .9;

}

.ui.menu {
    border-radius: 0px !important;
    margin: 0px !important;
}

.updateUser-form {
  /* width: 30em;
  margin: auto;
  margin-top: ;
  color: orange;
  border-style: solid;
  background-color: black;
  border-color: orange;
  padding-bottom: 2%; */
  border-radius: 5em;
  background-color: black;
  border-style: solid;
  border-color: orange;
  width: 30em;
  margin: auto;
  margin-top: 0.5em;
  padding-bottom: 1.5em;
  border-radius: 5em;
}




.default-form {
  /* background-color: rgba(189, 195, 199, .75); */
  /* padding: 25px; */
  width: 50%;
  margin: auto;
  margin-top: 5%;
  color:  white;
  border-style: solid;
  background-color: black;
  border-color: orange;
  padding-bottom: 2%;
  /* opacity: 0.8; */
  font-family: Orbitron;

}

/* .login {
  color: orange;
  font-size: 20px;
} */

.title {
  font-size: 100px;
  margin: 25px;
}

.hide-title {
  visibility: hidden;
}



/* .subtitle {
  font-size: 3em;
} */



.forms {
  /* border-style: solid;
  border-color: orange;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: -1%;
  background-color: rgba(1,1,1,.85); */
  padding: 25px;
  width: 40%;
  margin: auto;
  margin-top: 5%;
  color:  white;
  border-style: solid;
  /* border-width: thick; */
  background-color: black;
  border-color: orange;
  /* opacity: 0.8; */
  font-family: Orbitron;
  background-color: black;
  border-style: solid;
  border-color: orange;
  width: 30em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 1.5em;
}

.detailedViewImg {
  height: 50%;
  width: 50%;
}


.userCrypto {
  text-align: center;
  color: orange;
  font-size: 150%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  width: 40%;
  margin-left: 53%;
  margin-top: -25%;
  padding-top: 5%;
  padding-bottom: 7%;
}

.cryptoImage:hover {
  box-shadow: 0 0 20px 3px white;
  transition: .5s;
}

.crypto-title {
  position: absolute;
  text-shadow: 0 0 5px orange, 0 0 2px black;
  color: white;
  position: absolute;
  top: 78%;
  left: 36%;
  width: 63%;
  font-size: 1.85em;
}

.userCryptoItem {
  overflow: scroll;
  border-style: solid;
  border-color: orange;
  /* opacity: 0.75; */
  background-color: black;
  text-align: center;
  margin-right: 60%;
  margin-left: 3%;
  height: 85%;
  position: fixed;
  width: 45%;
  margin-top: -13%;
  padding-bottom: 2%;
}

.flex-container {
  display:flex;
}

iframe {
    position: absolute;
    left: 0; top: 0;
    height:0; width:0;
    border: none;
}

.hidden {
  display: none;
}

#volume-icon {
  margin: 0;
}



body {
 background: url("picture/Cryptocurrency.jpg") no-repeat center center fixed;
 background-size: cover;
 color: white;
 font-family: Orbitron;
}

.CCbutton {
  /* margin-left: 80%;
  margin-top: 5%; */
  margin-bottom: 5%;
  font-size: 150%;
  font-family: Orbitron;
}



.cryptoElement {
  border-style: solid;
  border-color: orange;
}

.userCryptos {
  color: orange;
  overflow: scroll;
  border-style: solid;
  border-color: orange;
  /* opacity: 0.75; */
  background-color: black;
  text-align: center;
  margin-right: 60%;
  margin-left: 3%;
  height: 90%;
  position: fixed;
  width: 45%;
  margin-top: -5%;
  padding-bottom: 2%;
  border-radius: 5em;
}

.UserCryptoDetailedView  {
  /* text-align: center;
  color: orange;
  font-size: 150%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  width: 40%;
  margin-left: 53%;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 7%; */
  text-align: center;
  overflow: scroll;
  height: 86%;
  position: fixed;
  width: 45%;
  color: orange;
  font-size: 150%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  /* width: 40%; */
  margin-left: 50%;
  margin-top: -20%;
  padding-bottom: 4%;
}

.logo  {
  height: 15%;
  width: 15%;
  /* margin-bottom: 5%; */
  border-radius: 50%;
  /* padding-bottom: 3%; */
  /* margin-bottom: 3%; */
}

.logo1  {
  height: 15%;
  width: 15%;
  /* margin-bottom: 5%; */
  border-radius: 50%;

}

.home {
  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size:170%;
  color: orange;
}

.myCryptos {
  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}



.news {
  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}

.settings1 {

  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}


.logout1 {
  /* float: left; */
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}

.edit {
  color: orange;
}

.input {
  width: 30em;
}



/* .submit-button  {
  width: 20%;
  font-size: 120%;
  font-family: Orbitron;
} */

.editBtn {
  display:inline-block;
  font-family: Orbitron;
  font-size: 120%;
}

.detailButton {
  font-size: 110%;
  font-family: Orbitron;
}

.returnButton {
  font-size: 110%;
  font-family: Orbitron;
  margin-bottom: 2%;
}

.crypto-button {
  font-size: 1.25em;
  font-family: Orbitron;
}

.updateBtn {
  display:inline-block;
  font-family: Orbitron;
  font-size: 120%;
  margin-bottom: 1%;
}

.ccHeader {
  font-size: 300%;
  color: orange;
  font-family: Orbitron;
}

.graph {
  border-style: solid;
  border-color: orange;
  border-width: thin;
  height: 15%;
  width: auto;
  margin-top: 3%;

}

/* .subtitle {

} */

.articles {
  color: orange;
  overflow: scroll;
  border-style: solid;
  border-color: orange;
  /* opacity: 0.75; */
  background-color: black;
  text-align: center;
  margin-right: 60%;
  margin-left: 3%;
  height: 89%;
  position: fixed;
  width: 45%;
  margin-top: -5%;
  margin-bottom: 2%;
  padding-bottom: 3%;
  font-size: 95%;
  font-family: sans-serif;
  border-radius: 5em;
}

.newsContainer {
  color: orange;
  overflow: scroll;
  border-style: solid;
  border-color: orange;
  background-color: black;
  text-align: center;
  width: 30em;
  height: 35em;
  margin-top: -27.5em;
  margin-left: 0.75em;
  position: fixed;
  font-size: 1em;
  font-family: sans-serif;
  border-radius: 5em;
}

/* .article {
  padding-top: 5%;
} */

.articleView  {

  text-align: center;
  overflow: scroll;
  height: 86%;
  position: fixed;
  width: 47%;
  color: orange;
  font-size: 140%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  /* width: 40%; */
  margin-left: 50%;
  margin-top: -17%;
  padding-bottom: 4.5%;
  font-family: sans-serif;
}

.storyImg {
  height: 50%;
  width: auto;
}

.returnButtonNews {
  font-size: 110%;
  font-family: Orbitron;
  margin-top: 3%;
}

.disappear {
  display: none;
}

/* dashboard */

.dashboard {
  background-color: black;
  opacity: 0.85;
  font-size: 2em;
  display: flex;
  height: 2em;
  padding-top: 0.5em;
}

/* .dashboard-signup {
  float: left;
  margin: 0 7em;
} */

.dashboard-loggedout {
  color: orange;
  float: left;
  margin: 0 7em;
}

.dashboard-loggedin {
  color: orange;
  float: left;
  margin: 0 2em;
}

.news1 {
  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}

.dashboard-centerConsole-form {
  background-color: black;
  border-style: solid;
  border-color: orange;
  width: 30em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 1.5em;
  border-radius: 5em;
}

/* login */

.login-form {
  background-color: black;
  border-style: solid;
  border-color: orange;
  width: 30em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 1.5em;
  border-radius: 5em;
}

.login-title {
  font-size: 3em;
  margin: 0.5em 0em;
}

.login-button {
  font-size: 1.25em;
  font-family: Orbitron;
}

/* signup */

.signup-title {
  font-size: 2.9em;
  margin: 0.5em 0em;
}

.signup-form {
  background-color: black;
  border-style: solid;
  border-color: orange;
  width: 30em;
  margin: auto;
  margin-top: 3em;
  padding-bottom: 1.5em;
  border-radius: 5em;
}

/* buttons */

.submit-button  {
  width: 20%;
  font-size: 120%;
  font-family: Orbitron;
}

.inputSubmitBtn {
  display: none;
}

/* general */

/* .centerConsole-title {
    font-size: 3em;
    margin: 0.5em 0em;
} */

/* center console */

.centerConsole {
  background-color: black;
  border-style: double;
  border-color: orange;
  width: 30em;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 1.5em;
  border-radius: 5em;
}

/* crypto container */

.cryptoContainer-title {
  font-size: 2.5em;
  color: orange;
  margin: 0.5em 0;
}

.cryptoContainer-button {
  margin: 0.5em;
  font-size: 1.5em;
  font-family: Orbitron;
}

.cryptosContainer {

  float: right;
  color: orange;
  background-color: black;
  overflow: scroll;
  position: relative;
  border-style: solid;
  border-color: orange;
  height: 35em;
  width: 30em;
  margin-top: -26.5em;
  margin-right: 20em;
  border-radius: 5em;
}

.CryptoDetailedView {
  text-align: center;
  overflow: scroll;
  height: 85%;
  position: fixed;
  width: 45%;
  color: orange;
  font-size: 150%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  /* width: 40%; */
  margin-left: 50%;
  margin-top: -10em;
  padding-bottom: 5%;
  border-radius: 5em;

}

/* .cryptosContainer {
  overflow-x: auto;
  margin-bottom: -3%;
  position: relative;
  margin-top: 10%;
} */

.card-title {
  font-size: 3em;
  color: orange;

}

.random {
  overflow: scroll;
  position: fixed;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 5em;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* crt effect */

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  /* animation: flicker 0.15s infinite; */
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}
