/* @import url('https://fonts.googleapis.com/css?family=Orbitron:700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Orbitron:500&display=swap');

:root {
  --site-font: 'Amatic SC', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  background-color: red;
  line-height: 3em;
  color: white;
  animation: fadein 1.5s;
  margin-top: 5%;
}

.feedback-message {
  background-color: green;
  line-height: 2em;
  color: white;
  animation: fadein 1.5s;
  margin-top: 5%;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}



.user-info-form {
  margin: 20px auto;
  width: 50%;
}
.cryptosContainer {
  overflow-x: auto;
  margin-bottom: -3%;
  position: relative;
  /* margin-top: 10%; */


}

.crypto {
  /* border-radius: 50%; */
  /* flex: 0 0 250px;
  position: relative;
  margin: auto; */
  border-style: solid;
  border-color: orange;
  border-width: thin;
}

.cryptoImage {
  border-radius: 50%;
  width: 70%;
  height: auto;
  transition: 1s;
}

.cryptoItem {
  color: orange;
  overflow: scroll;
  border-style: solid;
  border-color: orange;
  /* opacity: 0.75; */
  background-color: black;
  /* text-align: center; */
  /* margin-right: 1000px; */
  margin-left: 3%;
  height: 89%;
  position: fixed;
  width: 45%;
  margin-top: -45%;
  margin-bottom: 2%;
  padding-bottom: 3%;
}

.main {
  position: fixed;
  width:100%;
  height: 120%;
  min-height:calc(100vh - 61px);
  padding-top: 25px;

  color: white;
  background-size: cover;
  background-attachment:fixed;
}

.main::before{
  /* background: url("picture/bar2.jpg") no-repeat center center fixed; */
  /* background-color: black; */
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 15px);
  z-index: -2;
  opacity: 0.85;
}

.loading-dimmer {
  height: 200px;
  border: none !important;
  border-radius: 0 !important;
  opacity: .9;

}

.ui.menu {
    border-radius: 0px !important;
    margin: 0px !important;
}

.user-form {
  /* background-color: rgba(189, 195, 199, .75); */
  /* padding: 25px; */
  width: 50%;
  margin: auto;
  margin-top: 5%;
  color:  white;
  border-style: solid;
  background-color: black;
  border-color: orange;
  padding-bottom: 2%;
  /* opacity: 0.8; */
  font-family: Orbitron;

}

.default-form {
  /* background-color: rgba(189, 195, 199, .75); */
  /* padding: 25px; */
  width: 50%;
  margin: auto;
  margin-top: 5%;
  color:  white;
  border-style: solid;
  background-color: black;
  border-color: orange;
  padding-bottom: 2%;
  /* opacity: 0.8; */
  font-family: Orbitron;

}

.login {
  color: orange;
  font-size: 20px;
}

.title {
  font-size: 100px;
  color: orange;
  margin: 25px;
  /* text-shadow: 0 0 3px black; */
  /* visibility: hidden; */

}

.hide-title {
  visibility: hidden;
}

.card-title {
  font-size: 3em;
  color: orange;
  visibility: hidden;
}

.subtitle {
  font-size: 3em;
}

.forms {
  /* border-style: solid;
  border-color: orange;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: -1%;
  background-color: rgba(1,1,1,.85); */
  padding: 25px;
  width: 40%;
  margin: auto;
  margin-top: 5%;
  color:  white;
  border-style: solid;
  /* border-width: thick; */
  background-color: black;
  border-color: orange;
  /* opacity: 0.8; */
  font-family: Orbitron;
}

.detailedViewImg {
  height: 50%;
  width: 50%;
}

.userCrypto {
  text-align: center;
  color: orange;
  font-size: 150%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  width: 40%;
  margin-left: 53%;
  margin-top: -25%;
  padding-top: 5%;
  padding-bottom: 7%;
}

.cryptoImage:hover {
  box-shadow: 0 0 20px 3px white;
  transition: .5s;
}

.crypto-title {
  position: absolute;
  text-shadow: 0 0 5px orange, 0 0 2px black;
  color: white;
  position: absolute;
  top: 78%;
  left: 36%;
  width: 63%;
  font-size: 1.85em;
}

.userCryptoItem {
  overflow: scroll;
  border-style: solid;
  border-color: orange;
  /* opacity: 0.75; */
  background-color: black;
  text-align: center;
  margin-right: 60%;
  margin-left: 3%;
  height: 85%;
  position: fixed;
  width: 45%;
  margin-top: -13%;
  padding-bottom: 2%;
}

.flex-container {
  display:flex;
}

iframe {
    position: absolute;
    left: 0; top: 0;
    height:0; width:0;
    border: none;
}

.hidden {
  display: none;
}

#volume-icon {
  margin: 0;
}

.dashboard {
  background-color: black;
  color: orange;
  opacity: 0.85;
  font-family: Orbitron;
}

body {
 background: url("picture/Cryptocurrency.jpg") no-repeat center center fixed;
 background-size: cover;
 color: white;
 font-family: Orbitron;
}

.CCbutton {
  /* margin-left: 80%; */
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 150%;
  font-family: Orbitron;
}

.CryptoDetailedView {
  text-align: center;
  overflow: scroll;
  height: 85%;
  position: fixed;
  width: 45%;
  color: orange;
  font-size: 150%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  /* width: 40%; */
  margin-left: 50%;
  margin-top: -40%;
  padding-bottom: 5%;

}

.cryptoElement {
  border-style: solid;
  border-color: orange;
}

.userCryptos {
  color: orange;
  overflow: scroll;
  border-style: solid;
  border-color: orange;
  /* opacity: 0.75; */
  background-color: black;
  text-align: center;
  margin-right: 60%;
  margin-left: 3%;
  height: 90%;
  position: fixed;
  width: 45%;
  margin-top: -5%;
  padding-bottom: 2%;
}

.UserCryptoDetailedView  {
  /* text-align: center;
  color: orange;
  font-size: 150%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  width: 40%;
  margin-left: 53%;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 7%; */
  text-align: center;
  overflow: scroll;
  height: 86%;
  position: fixed;
  width: 45%;
  color: orange;
  font-size: 150%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  /* width: 40%; */
  margin-left: 50%;
  margin-top: -20%;
  padding-bottom: 4%;
}

.logo  {
  height: 15%;
  width: 15%;
  /* margin-bottom: 5%; */
  border-radius: 50%;
  /* padding-bottom: 3%; */
  /* margin-bottom: 3%; */
}

.logo1  {
  height: 15%;
  width: 15%;
  /* margin-bottom: 5%; */
  border-radius: 50%;

}

.home {
  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size:170%;
  color: orange;
}

.myCryptos {
  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}

.signup1 {
  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}

.login1 {
  /* float: left; */
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}

.news1 {
  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}

.news {
  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}

.settings1 {

  float: left;
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}


.logout1 {
  /* float: left; */
  border-style: solid;
  border-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: black;
  font-size: 170%;
  color: orange;
}

.edit {
  color: orange;
}

.input {
  width: 50%;
}

.login-button {
  width: 20%;
  font-size: 120%;
  height: 20%;
  font-family: Orbitron;

}

.submit-button  {
  width: 20%;
  font-size: 120%;
  font-family: Orbitron;
}

.editBtn {
  display:inline-block;
  font-family: Orbitron;
  font-size: 120%;
}

.detailButton {
  font-size: 110%;
  font-family: Orbitron;
}

.returnButton {
  font-size: 110%;
  font-family: Orbitron;
  margin-bottom: 2%;
}

.crypto-button {
  font-size: 110%;
  font-family: Orbitron;
}

.updateBtn {
  display:inline-block;
  font-family: Orbitron;
  font-size: 120%;
  margin-bottom: 1%;
}

.ccHeader {
  font-size: 300%;
  color: orange;
  font-family: Orbitron;
}

.graph {
  border-style: solid;
  border-color: orange;
  border-width: thin;
  height: 15%;
  width: auto;
  margin-top: 3%;

}

/* .subtitle {

} */

.articles {
  color: orange;
  overflow: scroll;
  border-style: solid;
  border-color: orange;
  /* opacity: 0.75; */
  background-color: black;
  text-align: center;
  margin-right: 60%;
  margin-left: 3%;
  height: 89%;
  position: fixed;
  width: 45%;
  margin-top: -5%;
  margin-bottom: 2%;
  padding-bottom: 3%;
  font-size: 95%;
  font-family: sans-serif;
}

/* .article {
  padding-top: 5%;
} */

.articleView  {

  text-align: center;
  overflow: scroll;
  height: 86%;
  position: fixed;
  width: 47%;
  color: orange;
  font-size: 140%;
  border-style: solid;
  border-color: orange;
  background-color: black;
  opacity: 0.99;
  /* width: 40%; */
  margin-left: 50%;
  margin-top: -17%;
  padding-bottom: 4.5%;
  font-family: sans-serif;
}

.storyImg {
  height: 50%;
  width: auto;
}

.returnButtonNews {
  font-size: 110%;
  font-family: Orbitron;
  margin-top: 3%;
}

.disappear {
  display: none;
}
